 <div> Olá, <%= @user.username %> </div> 
  <h3>Accounts</h3>
  <ul>
    <%@user.accounts.each do |account|%>
      <li><%= link_to account.bank.name, account_path(account) %><br><%=" balance: #{account.balance}" %></li>
    <% end %>
  </ul>

  <%= button_to "Criar nova conta", new_account_path, method: :get %> 
