<div id="<%= dom_id withdraw %>">
  <p>
    <strong>Account:</strong>
    <%= withdraw.account_id %>
  </p>

  <p>
    <strong>Bank:</strong>
    <%= withdraw.bank_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= withdraw.amount %>
  </p>

</div>
