<p style="color: green"><%= notice %></p>

<h1>Withdraws</h1>

<div id="withdraws">
  <% @withdraws.each do |withdraw| %>
    <%= render withdraw %>
    <p>
      <%= link_to "Show this withdraw", withdraw %>
    </p>
  <% end %>
</div>

<%= link_to "New withdraw", new_withdraw_path %>
