<h1>Request a withdraw</h1>

<%= form_for @withdraw, url: account_withdraws_path(params[:account_id]) do |f| %>
  <p> Amount: <%= f.text_field :amount %></p>
  <%= f.submit "Solicitar saque"%>
<% end %>
