<div id="<%= dom_id deposit %>">
  <p>
    <strong>Account:</strong>
    <%= deposit.account_id %>
  </p>

  <p>
    <strong>Bank:</strong>
    <%= deposit.bank_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= deposit.amount %>
  </p>

</div>
