<h1>Request a deposit</h1> </div>

<%= form_for @deposit, url: account_deposits_path(params[:account_id]) do |f| %>
  <p> Amount: <%= f.text_field :amount %></p>
  <%= f.submit "Depositar"%>
<% end %>
