<h1>Transfer history</h1>

<ul>
<% @transfers.each do |transfer| %>
  <li><%= "#{transfer.sender.user.username} enviou #{number_to_currency(transfer.amount)} para #{transfer.receiver.user.username}, através da conta: #{transfer.receiver.bank.name}" %></li>
<% end %>
</ul>
