<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">

        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
              <%= link_to "Login", login_path %>
              <%= link_to "Logout", logout_path %>
            </li>
          </ul>
        </nav>
    </div>
</header>