<h1>Create account!</h1>

<ul>
  <%= form_for @account, url: user_accounts_path(params[:user_id]) do |f| %>
    <li><%= f.label "Bank:" %>
    <%= f.collection_select(:bank_id, Bank.all, :id, :name, prompt: true) %><br></li>
    <%= f.submit %>
  <% end %>
</ul>