<h1><%=@account.bank.name%></h1>

<h3>Account balance: <%= number_to_currency(@account.balance)%></h3> <br>

<%= link_to "Iniciar transferência", new_account_transfer_path(@account.id), class: "link" %>
<%= link_to "Send deposit", new_account_deposit_path(@account.id), class: "link"%>