<h1><%=@account.bank.name%></h1>
<%= link_to "Transferir para uma nova conta", new_account_transfer_path(@account.id) %>
  <%= collection_select(:transfer, :receiver_id, Account.all, :id, :username, prompt: true)%>
  <br>
<%=link_to "Transferir para outro destinatário", new_account_transfer_path(@account.id)%>